<!DOCTYPE html>

<html>
    <head>
        <title>{{- title -}}</title>
    </head>
    <body>
        <h1>{{- title -}}</h1>
        <h2>{{- app.environment -}}
            {{- ' / ' -}}
            {{- trans('homepage.title') -}}</h2>

        <ul>
            {% for item in trans('sort')|sort_by('key') -%}
                <li>{{ item.key }}</li>
            {% endfor %}
        </ul>

        {% include "Main::components/footer.html.twig" %}
    </body>
</html>
